<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">Table to CSV Generator</div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th v-for="column in columns">
                                    <input type="text"
                                           class="form-control"
                                           :value="column.key"
                                           @input="updateColumnKey(column, $event)"
                                    />
                                </th>
                                <th width="130px">
                                    <input type="text"
                                           class="form-control"
                                           value="Actions"
                                           disabled
                                    />
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(row, index) in data">
                                <td v-for="(dataColumn, columnName) in row">
                                    <input type="text" class="form-control" v-model="row[columnName]"/>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" @click="removeRow(index)">Delete row</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-secondary" @click="addColumn()">Add Column</button>
                        <button type="button" class="btn btn-secondary" @click="addRow()">Add Row</button>
                    </div>
                    <div class="card-footer text-right">
                        <select class="form-control custom-select w-auto" v-model="format">
                            <option value="csv" selected>CSV</option>
                            <option value="xml">XML</option>
                        </select>
                        <button class="btn btn-primary" type="button" @click="submit()">Export</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import Api from '../api';
    import files from "./mixins/files";
    export default {
        name: "CSVGenerator",
        mixins: [files],
        data() {
            return {
                data: [
                    {
                        firstName: 'John',
                        lastName: 'Doe',
                        emailAddress: 'john.doe@example.com'
                    },
                    {
                        firstName: 'Jack',
                        lastName: 'Smith',
                        emailAddress: 'jack.smith@example.com'
                    },
                ],
                columns: [
                    {key: 'firstName'},
                    {key: 'lastName'},
                    {key: 'emailAddress'},
                ],
                format: 'csv'
            }
        },
        watch: {
            columns() {
                this.updateExistingRows();
            }
        },
        methods: {
            addRow() {
                let cols = this.getActualColumns();
                this.data.push(cols);
            },

            removeRow(row_index) {
                this.$delete(this.data, row_index);
            },

            addColumn() {
                this.columns.splice(this.columns.length, 0, {key: this.newColumnName()});
            },

            updateExistingRows() {
                this.data.forEach(
                    (row) => {
                        Vue.set(row, 'newColumn' + (this.columns.length - 3), '');
                    }
                )
            },

            getActualColumns() {
                let cols = {};
                this.columns.forEach(
                    (column) => {
                        Vue.set(cols, column.key, '');
                    }
                )
                return cols;
            },

            newColumnName() {
                return 'newColumn' + (this.columns.length - 2);
            },

            updateColumnKey(column, event) {

                let oldKey = column.key;

                let columnKeyExists = !!this.columns.find(column => column.key === event.target.value);

                column.key = event.target.value;

                if(column.key.length < 2) {
                    column.key = oldKey;
                    return;
                }

                if (columnKeyExists) {
                    column.key = event.target.value.substring(0, event.target.value.length - 1);
                    return;
                }

                this.data.forEach(
                    (row) => {
                        this.updateRowData(row, oldKey);
                    }
                )
            },

            updateRowData(row, oldKey) {
                this.columns.forEach(
                    (column) => {
                        if(row[oldKey] !== undefined && row[column.key] === undefined) {
                            let oldValue = row[oldKey];
                            delete row[oldKey];
                            row[column.key] = oldValue;
                        } else {
                            let oldValue = row[column.key];
                            if(oldValue === undefined) {
                                oldValue = "";
                            }
                            delete row[column.key];
                            row[column.key] = oldValue;
                        }
                    }
                )
            },

            isExportCsv() {
                return this.format === 'csv';
            },

            isExportXml() {
                return this.format === 'xml';
            },

            submit() {
                if(this.isExportCsv()) {
                    this.exportToCsv();
                }

                if(this.isExportXml()) {
                    this.exportToXml();
                }
            },

            async exportToCsv() {
                this.downloadBinaryFile(await Api.exportToCsv(this.columns, this.data), 'export.csv');
            },

            async exportToXml() {
                this.downloadBinaryFile(await Api.exportToXml(this.columns, this.data), 'export.xml');
            }
        }
    }
</script>

<style scoped>

</style>
